.pro-sidebar>.pro-sidebar-inner {
    background: #fff;
}

.pro-sidebar .pro-menu>ul>.pro-sub-menu>.pro-inner-list-item {
    background-color: inherit;
}

.pro-sidebar .pro-menu .pro-menu-item {
    border-left: 1px solid black;
}